.back {
   /* The image used */
   background-image: url("images/pokeball-back.png");
 
   /* Full height */
   /* height: 100%; */
 
   /* Center and scale the image nicely */
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}

.full {
   height: 100%;
}

html, body {
   height: 100%;
   width: 100%;
}

.pokeballGrey {
   background-image: url("https://assets.pokemon.com/static2/_ui/img/chrome/loaders/pokeball_gray.png")
}

p {
   background-image: ("https://assets.pokemon.com/static2/_ui/img/chrome/loaders/pokeball_white.png")
}

.pokeWhite {
   background-image: url("https://assets.pokemon.com/static2/_ui/img/chrome/content_bg.png");
}

.pokeLight {
   background-image: url("https://assets.pokemon.com/static2/_ui/img/chrome/container_bg.png");
}

.pokeDark {
   background-image: url("https://assets.pokemon.com/static2/_ui/img/chrome/body_bg.png");
}

.pokePromo {
   background-image: url("https://assets.pokemon.com/static2/_ui/img/gus/promo-bg.png")
}