.back {
   /* The image used */
   background-image: url("images/pokeball-back.png");
 
   /* Center and scale the image nicely */
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}

.max-w {
   max-width: 100px;
}

.mydiv {
   position: absolute;
   left: 10px; /* change as needed */
   top: 10px; /* change as needed */
   opacity: 0;
 }

/* body { 
   animation: fadeInAnimation ease 3s;
   animation-iteration-count: 1; 
   animation-fill-mode: forwards; 
} 
 
@keyframes fadeInAnimation { 
   0% { 
       opacity: 0; 
   } 
   100% { 
       opacity: 1; 
    } 
}  */

.pokeballGrey {
   background-image: url("https://assets.pokemon.com/static2/_ui/img/chrome/loaders/pokeball_gray.png")
}

p {
   background-image: ("https://assets.pokemon.com/static2/_ui/img/chrome/loaders/pokeball_white.png")
}

.pokeWhite {
   background-image: url("https://assets.pokemon.com/static2/_ui/img/chrome/content_bg.png");
}

.pokeLight {
   background-image: url("https://assets.pokemon.com/static2/_ui/img/chrome/container_bg.png");
}

.pokeDark {
   background-image: url("https://assets.pokemon.com/static2/_ui/img/chrome/body_bg.png");
}

.pokePromo {
   background-image: url("https://assets.pokemon.com/static2/_ui/img/gus/promo-bg.png")
}

span.type,.type th{
   background-image:url(images/types.png);
   background-repeat:no-repeat;
   background-position:0 -72px;
   display:block;
   width:3.125em;
   height:1.125em;
   text-indent:-999em
}
span.type{
   display: inline-block
}
span.type.fighting,.type.fighting,span.type.type-2 th{background-position:0 0}
span.type.fire,.type.fire,span.type.type-10 th{background-position:0 -18px}
span.type.flying,.type.flying,span.type.type-3 th{background-position:0 -36px}
span.type.grass,.type.grass,span.type.type-12 th{background-position:0 -54px}
span.type.water,.type.water,span.type.type-11 th{background-position:0 -90px}
span.type.bug,.type.bug,span.type.type-7 th{background-position:-50px 0}
span.type.electric,.type.electric,span.type.type-13 th{background-position:-50px -18px}
span.type.ghost,.type.ghost,span.type.type-8 th{background-position:-50px -36px}
span.type.ground,.type.ground,span.type.type-5 th{background-position:-50px -54px}
span.type.poison,.type.poison,span.type.type-4 th{background-position:-50px -72px}
span.type.rock,.type.rock,span.type.type-6 th{background-position:-50px -90px}
span.type.dark,.type.dark,span.type.type-17 th{background-position:-100px 0}
span.type.dragon,.type.dragon,span.type.type-16 th{background-position:-100px -18px}
span.type.fairy,.type.fairy,span.type.type-18 th{background-position:-100px -36px}
span.type.ice,.type.ice,span.type.type-15 th{background-position:-100px -54px}
span.type.psychic,.type.psychic,span.type.type-14 th{background-position:-100px -72px}
span.type.steel,.type.steel,span.type.type-9  th{background-position:-100px -90px}