body {
   background-image: url("https://assets.pokemon.com/static2/_ui/img/chrome/container_bg.png");
   /*background-color: #cccccc;*/
}

.pokeDark {
   background-image: url("https://assets.pokemon.com/static2/_ui/img/chrome/body_bg.png");

}

.triangle-left {
   width: 0;
   height: 0;
   border-top: 50px solid transparent;
   border-right: 100px solid rgb(245, 245, 245);
   border-bottom: 50px solid transparent;
 }

 .triangle-right {
   width: 0;
   height: 0;
   border-top: 50px solid transparent;
   border-left: 100px solid rgb(245, 245, 245);
   border-bottom: 50px solid transparent;
 }

 .size {
    width: 100px;
    height: 100px;
    min-width: 100px;
 }

 .dollar {
    max-width: 40px;
    height: 40px;
 }