 .back {
   /* The image used */
   background-image: url("pokeball-back.png");
 
   /* Full height */
   /* height: 100%; */
 
   /* Center and scale the image nicely */
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
 }

 .pokeLight {
   background-image: url("https://assets.pokemon.com/static2/_ui/img/chrome/container_bg.png");
   /*background-color: #cccccc;*/
}

.pokeDark {
   background-image: url("https://assets.pokemon.com/static2/_ui/img/chrome/body_bg.png");

}